* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #131921;
  color: white;
  border-bottom: 1px solid #d0d0d0;
  position: sticky;
  top: 0;
}

.nav-left a {
  text-decoration: none;
  color: white;
  font-family: mamazon;
}

.nav-mid {
  position: relative;
  display: flex;
  align-items: center;
}

.nav-mid input {
  padding-right: 450px;
  height: 34px;
  padding-left: 20px;
  border: 1px solid #bdbdbd;
  border-radius: 6px;
  font-size: 16px;
}

.nav-mid button {
  position: absolute;
  right: 0;
  border: none;
  padding: 8px 25px;
  background-color: rgb(253, 169, 13);
  cursor: pointer;
  border-radius: 0 6px 6px 0;
  font-size: 16px;
  transition: ease 0.3s;

}

.nav-mid button:hover {
  background-color: rgb(230, 154, 12);
  transform: scale(1.1);
}

.nav-right {
  display: flex;
  gap: 16px;
  align-items: center;
}

.nav-right a {
  text-decoration: none;
  color: white;
}

.cart {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cart .cart-counter {
  width: 15px;
  height: 16px;
  position: absolute;
  z-index: -1;
  top: 12px;
  right: 49px;
  border-radius: 50%;
  color: orange;
  text-align: center;
  font-weight: bold;
}

/* Products Section Styles */


.products {
  background-color: #fafafa;
}

.products-info {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}

.products-info p {
  color: #666;
  font-size: 12px;
}

.product-section {
  padding: 10px 40px;
}

.product-section h2 {
  padding: 10px;
}

.product-container {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 20px;
  border: 1px solid #d0d0d0;
  display: flex;
  flex-wrap: wrap;
  min-width: 320px;
}

.product-card {
  border: rgb(205, 205, 205) solid 1px;
  border-radius: 6px;
  min-width: 240px;
  width: 240px;
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 14px;

}

.product-card img {
  width: 100%;
  height: 150px;
  border-radius: 6px 6px 0 0;
  object-fit: contain;
}


.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  padding: 0 10px;
}

.product-info p {
  color: #007185;
}

.price p {
  color: #b12704;
}

.rate span {
  color: gold;
  font-size: 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
}

button.viewproduct {
  width: 50%;
  font-size: 14px;
  height: 40px;
  background-color: #ffd814;
  border: none;
  transition: ease 0.3s;
  border-radius: 0 0 0 6px;

}

button.viewproduct:hover {
  transform: scale(1.2);
}

button.addtocart {
  width: 50%;
  font-size: 14px;
  height: 40px;
  background-color: rgb(253, 169, 13);
  border: none;
  transition: ease 0.3s;
  border-radius: 0 0 6px 0;
}

button.addtocart:hover {
  transform: scale(1.2);
}

span#username {
  color: #ffd814;
}

/*******************************************/
@font-face {
  font-family: mamazon;
  src: url(./fonts/MontserratAlternates-BoldItalic.ttf);
}